{{define "content"}}
{{template "header"}}

  <div class="container container-main" height="900">

      <div class="row">
           <div class="col-md-11" id="lift2_2_div">

               <div class="panel panel-default">
                     <div class="panel-body">
                         <p>Cycle: <strong id="cycle">0</strong></p>
                     </div>
                   <div class="btn-group" role="group" aria-label="controls">
                         <button type="button" class="btn btn-default" id="stepback">
                             <span class="glyphicon glyphicon glyphicon-step-backward"/>
                          </button>
                         <button type="button" class="btn btn-default" id="pause">
                             <span class="glyphicon glyphicon glyphicon-pause"/>
                          </button>
                          <button type="button" class="btn btn-default" id="play" style='display: none'>
                             <span class="glyphicon glyphicon glyphicon-play"/>
                          </button>
                         <button type="button" class="btn btn-default" id="stepforward" disabled=true>
                             <span class="glyphicon glyphicon glyphicon-step-forward"/>
                          </button>
                    </div>
               </div>
           </div>
      </div>

     <div class="row">
         <div class="col-md-2">
             <canvas id="lift1_header" style="border:1px solid #000000;" width="94" height="70">
             </canvas>
         </div>
         <div class="col-md-2">
             <canvas id="lift2_header" style="border:1px solid #000000;" width="94" height="70">
             </canvas>
         </div>
         <div class="col-md-2">
             <canvas id="lift3_header" style="border:1px solid #000000;" width="94" height="70">
             </canvas>
         </div>
         <div class="col-md-2">
             <canvas id="lift4_header" style="border:1px solid #000000;" width="94" height="70">
             </canvas>
         </div>
    </div>

    <div class="row">

        <div class="col-md-2" id="lift1_div">
            <canvas id="lift1" style="border:1px solid #000000;" width="94" height="500">
            </canvas>
        </div>
        <div class="col-md-2" id="lift2_div">
            <canvas id="lift2" style="border:1px solid #000000;" width="94" height="500">
            </canvas>
        </div>
        <div class="col-md-2" id="lift3_div">
            <canvas id="lift3" style="border:1px solid #000000;" width="94" height="500">
            </canvas>
        </div>
        <div class="col-md-2" id="lift4_div">
            <canvas id="lift4" style="border:1px solid #000000;" width="94" height="500">
            </canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11" id="lift2_2_div">
           <input type="text" id="speed" size="8" value="1">
           <input type="submit" id="speedsubmit" value="Set Speed Factor">
           <input type="reset" id="resetstats" value="Reset Stats">
        </div>
    </div>
    <div class="row">
        <div class="col-md-11" id="lift2_3_div">
           <input type="number" id="eventfrequency" name="eventfrequency" min="1" max="10" value="1">
           <input type="submit" id="eventfrequencysubmit" value="Set Event Frequency Factor">
        </div>
    </div>

    <div class="row">
        <div class="col-md-11" id="lift2_4_div">
           <input type="submit" id="newsimsubmit" value="New Simulation">
        </div>
    </div>




{{template "footer"}}

{{end}}
