
  <div class="container container-main" height="900">

     <div class="row">
         <div class="col-md-1">
             <canvas id="lift1_header" style="border:1px solid #000000;" width="94" height="70">
             </canvas>
         </div>
         <div class="col-md-1">
             <canvas id="lift2_header" style="border:1px solid #000000;" width="94" height="70">
             </canvas>
         </div>
         <div class="col-md-1">
             <canvas id="lift3_header" style="border:1px solid #000000;" width="94" height="70">
             </canvas>
         </div>
         <div class="col-md-1">
             <canvas id="lift4_header" style="border:1px solid #000000;" width="94" height="70">
             </canvas>
         </div>
    </div>

    <div class="row">

    <div class="col-md-1" id="lift1_div">
        <canvas id="lift1" style="border:1px solid #000000;" width="94" height="500">
        </canvas>
    </div>
    <div class="col-md-1" id="lift2_div">
        <canvas id="lift2" style="border:1px solid #000000;" width="94" height="500">
        </canvas>
    </div>
    <div class="col-md-1" id="lift3_div">
        <canvas id="lift3" style="border:1px solid #000000;" width="94" height="500">
        </canvas>
    </div>
    <div class="col-md-1" id="lift4_div">
        <canvas id="lift4" style="border:1px solid #000000;" width="94" height="500">
        </canvas>
    </div>
          <!--
          <div class="col-md-2 col-md-offset-1" id="lift-state">

              <script type="text/html" id="lift_tmpl">
                  <div>
                      <p>
                          <%= lift %>
                      </p>
                  </div>
              </script>

          </div>
          -->
        <!--
          <div class="col-md-2 col-md-offset-6" id="event-history">

              <script type="text/html" id="event_tmpl">
                  <div>
                      <p>
                          <%= event.typ %>
                          <%= event.floor %>
                          <%= event.lift %>
                      </p>
                  </div>
              </script>

          </div>
          -->
      </div>
      <div class="row">
           <div class="col-md-11" id="lift2_2_div">
               <input type="text" id="speed" size="8">
               <input type="submit" id="speedsubmit" value="Set Speed Factor">
               <input type="reset" id="resetstats" value="Reset Stats">
           </div>
      </div>
  </div>
